@media only screen and (max-width: 610px) {
    #menu {
        display: inline-block !important;
    }

    #header-wrapper {
        max-width: 600px;
    }

    #header-wrapper nav {
        display: none;
    }

    #header-wrapper img {
        transform: scale(0.9);
    }

    #header-wrapper.active nav {
        line-height: 50px !important;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    #header-wrapper li {
        margin: 0;
    }

    #mission-section {
        flex-direction: column;
        align-items: center;
    }

    #services-section {
        flex-direction: column;
        align-items: center;
    }

    #services-section img {
        transform: scale(0.8);
    }

    #contact-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

button {
    border: 1px #fff solid;
    outline: none;
    background: #ededed;
    padding: 10px;
    border-radius: 2px;
    font-variant: small-caps;
    cursor: pointer;
    color: #555;
    font-size: 16px;
    margin: 0 20px;
}

#promotional-button {
    background: #6bbed0;
    color: white;
    border: 1px #adc5ca solid;
}

#biltmore-text {
    font-variant: small-caps;
    color: #84fff5;
    text-align: center;
    font-size: 75px;
    padding: 85px 0;
}

#button-wrapper {
    text-align: center;
}

#header-wrapper {
    display: flex;
    background: white;
    color: #2aafc0;
    flex-wrap: wrap;
    transition: all 0.4s ease-in-out;
}

#header-wrapper img {
    margin: 10px 40px;
    transition: 0.5s ease all;
}

#header-wrapper nav {
    line-height: 125px;
    font-size: 20px;
    margin-left: auto;
    font-variant: small-caps;
}

#header-wrapper li {
    margin: 0 15px;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s ease all;
}

#header-wrapper li:hover {
    color: #3184C0;
}

#menu:hover {
    color: #3184C0;
}

#menu {
    display: none;
    line-height: 125px;
    font-size: 35px;
    margin-left: auto;
    padding: 0 35px;
    cursor: pointer;
    transition: all 0.5s ease;
    width: calc(100% - 280px);
    text-align: right;
}

.active nav {
    display: flex !important;
    flex-direction: column;
}

.mobile #menu {
    display: block;
}

.parallax {
  /* The image used */
  background-image: url(/templates/bundle/assets/home.jpg);

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mission-section {
    display: flex;
    justify-content: space-around;
    padding: 50px 15px;
}

#mission-details {
    width: 300px;
    color: #333438;
    text-align: center;
}

h2 {
    margin: 25px 0;
    color: #2f2f2f;
}

#mission-details p {
    font-size: 18px;
    font-style: italic;
}

#services-section {
    display: flex;
    justify-content: space-around;
    background: #d3e3f2;
    padding: 50px 15px;
}

#contact-section {
    display: flex;
    justify-content: space-around;
    padding: 50px 15px;
}

#phone-icon {
    font-size: 175px;
    color: #2a363c;
}

#contact-section p {
    font-size: 19px;
}

/*Footer*/
#footer-wrapper div {
    margin: 1px 0;
}

#footer-wrapper a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s ease;
    cursor: pointer;
}

#footer-wrapper {
    text-align: center;
    padding: 15px;
    background: #333333;
    color: white;
}

#footer-wrapper p {
    margin: 10px 0;
    font-size: 11px;
}
/*Footer*/